<%- include("partials/header"); -%>
    <section class="home_page">

        <div class="post_title">
            <%=title%>
        </div>
        <div class="delete">
            <form method="POST" action="/posts/<%= id %>?_method=DELETE">
                <button>Delete</button>
            </form>
        </div>
        <div class="post_content">
            <%=content%>
        </div>

    </section>

    <%- include("partials/footer"); -%>
        <script>
            const toggleSwitch = document.querySelector('#dark-mode-toggle');

            toggleSwitch.addEventListener('change', function () {
                if (this.checked) {
                    document.body.classList.add('dark-mode');
                } else {
                    document.body.classList.remove('dark-mode');
                }
            });

        </script>